@import "tailwindcss";
@theme {
    --color-primary :#F7FAFF;
    --color-secondary :#111827;
    --color-accent :#27302b;
    --color-gold : #e29816;
    
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 10px;
}
